%meta{:content => "1", :name => "if:Two column posts"}
%meta{:content => "1", :name => "if:Show bar on top"}
%meta{:content => "1", :name => "if:Show blog title"}
%meta{:content => "1", :name => "if:Show blog description"}
%meta{:content => "1", :name => "if:Show profile photo"}
%meta{:content => "1", :name => "if:Use endless scrolling"}
%meta{:content => "1", :name => "if:Show right column"}
%meta{:content => "1", :name => "if:Place timestamp in left column"}
%meta{:content => "0", :name => "if:Use larger font for quotes"}
%meta{:content => "1", :name => "if:Show image shadows"}
%meta{:content => "1", :name => "if:Show tags"}
%meta{:content => "1", :name => "if:Show post notes"}
%meta{:content => "1", :name => "if:Show copyright in footer"}
%meta{:content => "", :name => "text:Google Analytics ID"}
%meta{:content => "", :name => "text:Disqus comments"}
