%header#header
  %section#blog_info
    %h1
      %a{:href => "/"} {Title}
    .description.cont {Description}
    %a{:href => "http://itunes.apple.com/us/podcast/eric-and-mitch-explain/id533649535"}
      Subscribe on iTunes
    %a{:href => "http://feeds.feedburner.com/ericandmitchexplain"}
      Subscribe via RSS

%ul#posts
  {block:Posts}{block:Audio}
  %section.caption
    {block:TrackName}
    %h2
      %a{:href => "{Permalink}"} {TrackName}
    {/block:TrackName}
    %section.audio-player.top.audio {AudioPlayerGrey}
  
  %section.group.caption_and_post_info
    {block:Caption}
    %section.caption.group
      .cont
        {block:AlbumArt}
        %img.album-art{:src => "{AlbumArtURL}"}/
        {/block:AlbumArt}
        {Caption}
    {/block:Caption}
    
    %ul.post_info
      %li
        %a.timestamp
      
  {/block:Audio}{/block:Posts}
